.room-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 85%;
    margin: auto;
}

.room {
    width: 100%; /* Adjust width as needed */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    height: auto;
}

.room-image {
    width: 30%;
    padding: 10px;
    
}

.room-image img {
    width: 70%;
    height: auto; 
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
img.room_image {
    max-width: 32%;
    height: auto;
  }
.room-details {
    padding: 15px;
    flex: 1;
}
.room-imagess h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333; 
}

.room-imagess p {
    margin: 10px 0;
    font-size: 16px; 
    color: #666; 
}

.room-imagess a {
    color: #007bff;
    text-decoration: none; 
    cursor: pointer; 
}

.room-details a:hover {
    text-decoration: underline; 
}

.price-details {
    width: 30%;
    padding: 15px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
}
p.offer-price {
    font-size: large;
}
.common-offer p {
    margin: 0;
    color: blue;
}
.book-now-button {
    background-color: #4CAF50;
    color: white;
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    margin-top: 10px; 
    text-decoration: unset;
}

.book-now-button:hover {
    background-color: #45a049; 
}
.room-facility h3{
    font-size: 18px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .room-facility {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items horizontally */
  }
  
  .room-facility p {
    margin: 2px;
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  input[type="number"] {
    width: 100px;
    margin: 2px;
    height: fit-content;
}
.room-count ,.extra-bed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.room-details {
    margin-top: 20px;
}

.user-detail {
    margin-bottom: 10px;
}

.user-detail label {
    font-weight: bold;
    display: block;
}

.user-detail input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 4px;
}

.user-detail input[readonly] {
    background-color: #f5f5f5; /* Readonly input background color */
    color: #666; /* Readonly input text color */
    cursor: not-allowed;
}

span.text-danger{
    color: red;
    font-size: 12px;
  }

  .review {
    margin-top: 20px;
    width: 85%;
    margin: auto;
}

.review-item {
    border: 1px solid #ccc;
    padding: 40px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: bold;
}

.rating {
    font-style: italic;
    color: #888;
    margin: auto;
}

.star {
    color: gold;
    font-size: 16px;
}
